.panda-head{
  height: 250px;
  width: 250px;
  background-color:white;
  border:solid black 2px;
  border-radius: 50%;
  position:relative;align-items: center;
  left:600px;
  top:30px;

}
.left-ear {
     position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius:50%;
    top:10px;
    border-top: 2px solid black;
    left: 600px;
}

.right-ear {
     position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius:50%;
    top:10px;
    border-top: 2px solid black;
    right:650px;
}
.left-eye {
    position: absolute;
    width: 60px;
    height: 70px;
    background-color: black;
    border-radius: 50% 60% 40% 40%;
    top:110px;
    left: 670px;
}

.right-eye {
    position: absolute;
    width: 60px;
    height: 70px;
    background-color: black;
    border-radius: 50% 60% 40% 40%;
    top:110px;
    right: 710px;
}
.left-pupil{
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:140px;
    left:690px;
}
.right-pupil{
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:140px;
    right:730px;
}
.nose {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: black;
    border-radius: 0 0 100% 100%;
    top:190px;
    left:730px;
}
.mouth {
    position: absolute;
    width: 40px;
    height: 20px;
    border-bottom: 2px solid black;
    border-radius: 0 0 50% 50%;
    top: 210px;
    left: 725px;
}
.blackline{
    position: absolute;
    width:180px;
    height: 150px;
    background-color: black;
    border-radius: 0 0 100% 100%;
    top:280px;
    left:670px;
}
.stomach-circle {
  position: absolute;
  background-color: white;
  height:265px;
  width:280px;
  top:360px;
  left:620px;
  border-radius: 30% 30% 50% 50%;
  border: 2px solid black;
}
.left-hand{
position: absolute;
    width: 80px;
    height: 250px;
    background-color: #000000;
    border-radius:50%;

    top:240px;
    left:580px;
    transform: rotate(45deg);
}

.right-hand{
    position: absolute;
    width: 80px;
    height: 250px;
    background-color: #000000;
    border-radius:50%;

    top: 225px;
    right:600px;
    transform: rotate(-50deg);
}
.left-leg {
    position: absolute;
    width: 80px;
    height: 180px;
    background-color: #000000;
    border-radius:50% 30% 50% 30%;
    bottom:20px;
    left:605px;
    
}

.right-leg {
    position: absolute;
    width: 80px;
    height: 180px;
    background-color: #000000;
    border-radius:50% 30% 50% 30%;
    bottom: 20px;
    right:620px;
    
}
